<html>

    {% include "head.html" %}

    <body>

        {% include "menu.html" %}

        <div class="container">

            <div class="row">

                <div class="col-sm-8">
                    <h3 style="color:white">Welcome at <b>PyTrending!</b></h3>
                    <h4 style="color:grey"> “... find what you were not <i>yet</i> looking for... ”</h4>
                    <div class="card pin" id="card_div">
                        My goal here is to find whatever is most interesting in Python; <i>today</i>. It uses Reddit, Stackoverflow, GitHub, PyPi and Twitter currently.
                        You can suggest new sources (and/or twitter streams) by emailing kootenpv@gmail.com. 
                    </div>

                    <div class="card pin" id="card_div">
                        I'll consider the possibility for people to sponsor certain python packages. I will never show advertisements, but a way to promote open source projects sounds awesome to me!
                    </div>

                    <div class="card pin" id="card_div">
                    It could be forked for other languages, but Python deserves this first ;)
                    </div>
                    
                    <h3 style="color:white">Internals</h3>
                    <div class="card pin" id="card_div" >
                        It is hosted on Bluemix, which might change, like anything in the app, at any moment.</div>
                    <div class="card pin" id="card_div" >
                        This project can be helpful to anyone interested in:
                        <ul>
                            <li>Scraping</li>
                            <li>Frontend, Bootstrap 3</li>
                            <li>Backend, Tornado</li>
                            <li>Bluemix</li>
                            <li>...</li>
                            <li>oh... and of course, people interested in what is <b>trending in Python world!</b></li>
                            
                        </ul>

                        Just have a look at the source code.
                    </div>

                    <h3 style="color:white">Contribute</h3>
                    <div class="card pin" id="card_div" >
                        Feel free to raise issues, contribute, join the cause, fork the project or leave feedback at <a href="https://github.com/kootenpv/pytrending/">GitHub</a>.
                    </div>
                    <div class="card pin" id="card_div" >
                        Or drop me a line at kootenpv@gmail.com.

                    </div>

                    <div class="card pin" id="card_div" >
                        <a  href="/">Take me back to what's trending already </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card pin" id="card_div" >
                        <h3>How it works</h3>
                        <hr>
                        <p> <strong>GitHub</strong> -- GitHub's trending page contains the packages that have the most stars that day. This is boring, because it's usually the same packages that are trending. I'm now preventing this, only showing new pages (with the occasional slip where a well established one is still mentioned).</p>
                        <p> <strong>Reddit</strong> -- Currently I have the terrible model that whenever something reaches 30 votes, it becomes trending</p>
                        <p> <strong>Stackoverflow</strong> -- Bounty questions with the python tag; sorted on date</p>
                        <p> <strong>pypi (pip)</strong> -- Here you can simply see the packages that are most recent (so actually not trending yet, will need historic data to predict trending) </p>

                        <p> <strong>Twitter</strong> -- just the latest tweets from one twitter channel at the moment. Feel free to suggest useful channels.</p>
                    </div>
                </div>
            </div>

        </div>

        </div>

        {% include "scripts.html" %}
    </body>
    
</html>
