<html>

    {% include "head.html" %}

    <body>

        {% include "menu.html" %}

        <div class="container">

            <div class="row">

                <div class="col-sm-2"></div>

                <div class="col-sm-8">
                    <div class="card pin" id="card_div" >
                        Hello there, welcome at PyTrending!
                    </div>

                    <div class="card pin" id="card_div" >
                        <strong>I hope you will find what you were not yet looking for ...</strong>
                    </div>
                    <div class="card pin" id="card_div" >
                        It is hosted on Bluemix, which might change, like anything in the app, at any moment.</div>
                    <div class="card pin" id="card_div" >
                        This project can be helpful to anyone interested in:
                        <ul>
                            <li>Scraping</li>
                            <li>Frontend, Bootstrap 3</li>
                            <li>Backend, Tornado</li>
                            <li>Bluemix</li>
                            <li>...</li>
                            <li>oh... and of course, people interested in what is <b>trending in Python world!</b></li>
                            
                        </ul>

                    </div>

                    <div class="card pin" id="card_div" >
                        Feel free to raise issues, contribute, join the cause, fork the project or leave feedback at <a href="https://github.com/kootenpv/pytrending/">GitHub</a>.
                    </div>
                    <div class="card pin" id="card_div" >
                        Or drop me a line at kootenpv@gmail.com.

                    </div>

                    <div class="card pin" id="card_div" >
                        <a  href="/">Now take me back to what's trending already </a>
                    </div>
                </div>
            </div>

        </div>

        </div>

        {% include "scripts.html" %}
    </body>
    
</html>
