<h3>Sorting</h3>
<hr>
<div class="checkbox">
    <input type="radio" name="sort" value="date" form="form-search">
    Date
</div>
<div class="checkbox">
    <input type="radio" name="sort" value="relevancy" form="form-search" checked>
    Relevance
</div>

<h3>Sources</h3>
<hr>
<div class="radio"><input form="form-search" type="checkbox" name="source" checked value="Reddit"> Reddit</div>
<div class="radio"><input form="form-search" type="checkbox" name="source" checked value="Twitter"> Twitter</div>
<div class="radio"><input form="form-search" type="checkbox" name="source" checked value="Google"> Google</div>
<div class="radio"><input form="form-search" type="checkbox" name="source" checked value="Stackoverflow"> Stackoverflow</div>
<div class="radio"><input form="form-search" type="checkbox" name="source" checked value="GitHub"> GitHub</div>
<div class="radio"><input form="form-search" type="checkbox" name="source" checked value="Packages"> Packages</div>
