<h3>Sorting</h3>
<hr>
<span class="bigcheck">
    <label class="bigcheck">
        <input type="radio" name="sort" value="date" form="form-search" class="bigcheck" checked>
        <span class="bigcheck-target"></span>
        Date
    </label>
</span>

<span class="bigcheck">
    <label class="bigcheck">
        <input type="radio" name="sort" value="relevancy" form="form-search" class="bigcheck" checked>
        <span class="bigcheck-target"></span>
        Relevance
    </label>
</span>

<h3>Sources</h3>
<hr>

{% for filt, form in zip(["Packages", "GitHub", "Stackoverflow", "Google", "Twitter", "Reddit"], ["form-search"]*100) %}
    {% include "bigcheck.html" %}
{% end %}
