<head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}</style>
      <meta charset="utf-8">
      <title>inthenews.io</title>
      <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Le styles -->
      <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet" type="text/css">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">



      <link href="static/css/bootstrap.min.css" rel="stylesheet">
      <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">

      <!--
      <link href="static/css/social-icons.css" rel="stylesheet">
      <link href="static/css/bootplus-responsive.css" rel="stylesheet">
      -->

      <link href="static/css/app.css" rel="stylesheet">

</head>
