<div id="loading_items" style="height: 8px;" ng-hide="isLoading" class="progress progress-warning progress-striped active">
  <div class="bar" style="width: 100%;"/>
</div>
				
<div id="nr_res_box" ng-hide="isLoading" class="alert">
  <strong>0 Resultaten gevonden</strong> Probeer een andere zoekopdracht of combinatie.
</div>

<div id="error_box" ng-hide="!isError" class="alert alert-error" style=" color: #ffffff; background-color: #dd4b39; border-color: #db2c36; ">
  <strong>Ohoh!</strong> Er ging iets mis, probeer het nog een keer.
</div>

